body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #08171f;
  background: #54667d; }

.profile-pane {
  background-color: #eeffff;
  border-radius: .5em;
  box-shadow: 0 0 0 0.2em rgba(21, 99, 142, 0.1), 0 0.1em 0.25em rgba(21, 99, 142, 0.25);
  display: inline-block;
  margin: 1em 1em;
  vertical-align: top; }
  .profile-pane h1 {
    margin: .3em; }

.column {
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid #54667d; }

.alpha {
  width: 100%; }

.beta {
  width: 100%;
  border-bottom: 1px solid #54667d; }

.avatar {
  border-radius: 300px;
  margin: 1em 0 0 0;
  max-width: 100%;
  position: relative;
  z-index: 5; }
  .avatar:hover {
    opacity: 0.3; }

a.enlarge {
  position: relative;
  display: block;
  line-height: 0px;
  text-decoration: none; }
  a.enlarge:before {
    content: "+";
    display: block;
    font-size: 8em;
    line-height: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
    color: #e14e57;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: -0.48em 0 0 -0.5em; }

.supplement {
  font-size: .75em; }
  .supplement a {
    text-decoration: none;
    color: #37a3db; }
    .supplement a:hover {
      text-decoration: underline; }

.hidden {
  display: none; }

.reach-out {
  list-style: none;
  margin: 0;
  text-align: left; }
  .reach-out li {
    margin: 0 0 0 -2.5em;
    border-bottom: 1px solid #54667d; }
    .reach-out li a {
      display: block;
      padding: .8em;
      color: #08171f;
      text-decoration: none;
      -webkit-transition: .3s linear;
      transition: .3s linear; }
      .reach-out li a.last {
        border-bottom-right-radius: .5em;
        border-bottom-left-radius: .5em; }
      .reach-out li a:hover {
        background-color: white;
        color: #e14e57; }
  .reach-out li:last-child {
    border-bottom: 0;
    padding-bottom: 0; }

.icon-earth:before, .icon-briefcase:before, .icon-envelop:before, .icon-twitter:before, .icon-github:before {
  font-family: 'icomoon';
  speak: none;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  margin: 1em 1em 0 .6em;
  background-color: #37a3db;
  padding: .3em;
  border-radius: 5em;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: .3s linear;
  transition: .3s linear; }
.icon-earth:hover:before, .icon-briefcase:hover:before, .icon-envelop:hover:before, .icon-twitter:hover:before, .icon-github:hover:before {
  margin-right: .5em; }

.icon-earth:before {
  content: "\e000"; }

.icon-briefcase:before {
  content: "\e001"; }

.icon-envelop:before {
  content: "\e002"; }

.icon-twitter:before {
  content: "\e003"; }

.icon-github:before {
  content: "\e004"; }

@media (min-width: 30em) {
  .column {
    border-bottom: 1px solid #54667d; }

  .alpha {
    width: 12em; }

  .beta {
    width: 12em;
    border-left: 1px solid #54667d;
    margin-left: -0.25em; } }
