$main: #37A3DB;
$pop: #E14E57;
$bg: #54667D;
$lt: #EEFFFF;
$text: #08171F;

body {
	text-align: center; //center div and text
	font-family: 'Roboto', sans-serif;
	color: $text;
	background: $bg;
}

.profile-pane {
	background-color: $lt;
	border-radius: .5em;
	box-shadow: 0 0 0 .2em rgba(21,99,142,.1),
							0 .1em .25em rgba(21,99,142,.25);
	display: inline-block;
	margin: 1em 1em;
	vertical-align: top;

	h1 { margin: .3em; }
}

.column {
	display: inline-block;
	vertical-align: top;
	border-top: 1px solid $bg;
}

.alpha {
	width: 100%;
}

.beta {
	width: 100%;
	border-bottom: 1px solid $bg;
}

.avatar { 
	border-radius: 300px;
	margin: 1em 0 0 0;
	max-width: 100%;
  position: relative;
  z-index: 5;

	&:hover {
    opacity: 0.3;
	}
}

a.enlarge {
	position: relative;
  display: block;
  line-height: 0px;
  text-decoration: none;

&:before {
  content: "+";
  display: block;
  font-size: 8em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  text-align: center;
  color: $pop;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: -0.48em 0 0 -0.5em;
  }
}

.supplement {
	font-size: .75em;

	a {
		text-decoration: none;
		color: $main;

		&:hover { text-decoration: underline; }
	}
}

.hidden {
	display: none;
}

.reach-out {
	list-style: none;
	margin: 0;
	text-align: left;

	li { 
		margin: 0 0 0 -2.5em;
		border-bottom: 1px solid $bg;

		a {
			display: block;
			padding: .8em;
			color: $text;
			text-decoration: none;
			-webkit-transition: .3s linear;
							transition: .3s linear;

			&.last {
				border-bottom-right-radius: .5em;
				border-bottom-left-radius: .5em;
			}

			&:hover {
				background-color: lighten($lt, 50%);
				color: $pop;
			}
		}
	}
	li:last-child { 
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.icon-earth, .icon-briefcase, .icon-envelop, .icon-twitter, .icon-github {
		&:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 1.5em;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			margin: 1em 1em 0 .6em;
			background-color: $main;
			padding: .3em;
			border-radius: 5em;
			color: #fff;
			vertical-align: middle;
			-webkit-transition: .3s linear;
							transition: .3s linear;
		}

		&:hover:before { margin-right: .5em; }
	}
.icon-earth:before {
	content: "\e000";
}
.icon-briefcase:before {
	content: "\e001";
}
.icon-envelop:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}
.icon-github:before {
	content: "\e004";
}

@media (min-width: 30em) {
  .column {
  	border-bottom: 1px solid $bg;
  }

  .alpha {
  	width: 12em; 
  }

  .beta {
  	width: 12em;
  	border-left: 1px solid $bg;
  	margin-left: -.25em;
  }
}